<div class="overlay">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <h1>Simply The Best</h1>
  <h3>Reasons for Choosing US</h3>
  <p>hola chisla</p>
  <br />
  <button>READ MORE</button>
</div>
