  <div class="cover">
    <div class="container_cover">
      <div class="container_perfil">
        <img src="assets/img/fotoperfil.jpg" alt="" />
      </div>

      <h1>HOLA!!!</h1>
      <p>
        Soy Saul. Soy desarrollador backend con conocimientos de Frontend con
        experiencia en el desarrollo de aplicaciones web utilizando java como
        lenguaje principal. Mi experiencia se extiende desde el análisis y
        diseño de sistemas hasta la implementación de las mismas.
      </p>
    </div>
  </div>

<app-login></app-login>
