.card-footer{
  background-color: #fff;
  border-top: #fff;
}

.container{
  display: flex;
  justify-content: flex-end;
  gap:10px;
}

.globa-container{
  padding-top: 7%
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
  margin: 0;
  list-style: none;
}

.btnAgragar {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
