@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container_global{
  width: 100%;
  height: auto;
  padding-top: 5%
}
.container_second{
  max-width: 60%;
  margin: auto;
  padding-top: 40px;
}
.container_second h1{
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}
.container_second h2{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}
.container_second p{
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}
.btn{
  display: flex;
  justify-content: center;
}
.container_web{
  max-width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
}
.web{
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}
.soporte{
  max-width: 30%;
  display: flex;
  justify-content: space-between;
}
.icon_web{
  font-size: 40px;
  padding-right: 10px;
}
.icon_sop{
  font-size: 40px;
  padding-right: 10px;
}
