<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

<div class="container_global">
  <div class="container_second">
    <h1>SOBRE MI</h1>
    <h2>Diseño y programo aplicaciones web</h2>
    <p>
      Ingeniero Técnico Industrial. Programador Web, Técnico Informático y
      fotógrafo aficionado. Me inicié en la programación web allá por el año
      1997. Entre 2000-2003 trabajé profesionalmente como diseñador y
      programador web, tanto en front-end como back-end (PHP – MySQL). Durante
      los años 2002 a 2013 trabajé como técnico informático en la franquicia APP
      Informática y también programé algunas webs como freelance.
    </p>
    <p>
      En 2016 actualicé mis conocimientos en desarrollo y programación web,
      obteniendo el Certificado de Profesionalidad (IFCD0110) “CONFECCIÓN Y
      PUBLICACIÓN DE PÁGINAS WEB”. Posteriormente he completado 15 cursos en la
      plataforma de formación Udemy sobre WordPress, WooCommerce, Creación de
      temas y plugins para WordPress, jQuery, JavaScript ES6, Bootstrap, React,
      Accesibilidad Web, Sass, Adobe XD, Visual Studio Code… Y continúo
      ampliando y consolidando mi formación con próximos cursos sobre Angular,
      Node.js, Laravel y React Avanzado
    </p>
    <div class="btn">
      <button type="button" class="btn btn-outline-warning" (click)="openPdf()">
        Mi curriculum [.pdf]
      </button>
    </div>
  </div>
  <div class="container_web">
    <div class="web">
      <div class="icon_web">
        <i class="bi bi-lightbulb"></i>
      </div>
      <div>
        <h1>Desarrollo web</h1>
        <p>
          Desde cero o con tus ideas, programo tu sitio web utilizando
          tecnologías HTML5, CSS3, PHP, JavaScript, jQuery, BootStrap,
          Responsive, MySQL, WordPress y sus temas,y plugins, WooCommerce,
          React…
        </p>
      </div>
    </div>
    <div class="soporte">
      <div class="icon_sop">
        <i class="bi bi-gear-fill"></i>
      </div>
      <div>
        <h1>soporte</h1>
        <p>
          Resuelvo cualquier duda o incidencia que tengas con tu web, mejoras,
          actualizaciones, ampliaciones, puestas al día….
        </p>
      </div>
    </div>
  </div>
</div>
