
<!--<div class="container_fondo">
  <app-header></app-header>
  <app-home></app-home>
</div>

<body class="body">
  <hr />
  <app-sobre-mi></app-sobre-mi>
  <hr/>
  <router-outlet></router-outlet>
  <hr />
</body>

<footer class="footer">
  <p>Copyright © 2021 Mi sitio web</p>
  <ul>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</footer>
-->
<app-header></app-header>
<router-outlet></router-outlet>

<!--<footer class="footer">
  <p>Copyright © 2021 Mi sitio web</p>
  <ul>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</footer>-->
<app-footer></app-footer>
