
button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
.footer{
  
  text-align: center;
  bottom: 0;
  width: 100%;
}
.footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 50px;
  margin: 0;
  list-style: none;
}
ul {
  list-style: none;
}
.body{
 margin-top: 100px;
}
.card{
  margin-top: 30px;
}

.container_fondo{
  background-image: url(src/assets/img/fondo-home.jpg);
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
